# xcode noise
DerivedData
build
*.pbxuser
*.mode1v3

xcuserdata
*.xccheckout

# osx noise
.DS_Store
profile

# visual studio noise
Debug
Release
obj
*.exe
*.dll
*.obj
*.pdb
*.ncb
*.user
*.suo
*.opensdf
*.sdf

# windows noise
Thumbs.db

# videos - too large to be practical
*.mp4
*.mov

# linux/qt noise
*.pro.user
*.pro.user.*
